*{
    padding: 0;
    margin: 0;
    font-family: 'Cairo', sans-serif;

    background-color:#F1F1F1;
    }
.container{
    margin: 0 auto;
    width: 80%;

}

/***********Mohannad Work*********/
.contact-us{
margin-top:50px; 
    padding: 45px 0;
}
form{
    width: 80%;
    margin: auto;
}
.contact-us .contentS{
    background-color: #f1f1f1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -webkit-transform: rotate(6deg);
    z-index: -1;
    box-shadow: 8px 8px 20px #afaeae;
}
.contact-us .content{
    background-color: #F1F1F1;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    padding: 30px 0;
    border-radius: 15px;
    position: relative;
    z-index: 99999999999999;
    box-shadow: 8px 8px 20px #afaeae;
}
.contact-us .content h2{
    color: #575757;
}
.contact-us .content h2 span{
    color: #105a36;
}
.contact-us .content button{
    border-radius: 100px;
    padding: 4px 34px;
    border: none;
    background-color: #105a36;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
.contact-us .content .cc{
    margin: 30px;
}
.contact-us .content .cc label{
    margin: 0 30px;
    float: left;
    color: #575757;
}
.contact-us .content .cc input{
    width: 230px;
    border: 1px solid #575757;
    padding: 0 5px;
    letter-spacing: 1px;
    border-radius: 20px;
}
.contact-us .content .cc textarea{
    width: 250px;
    height: 116px;
    border: 1px solid #575757;
    padding: 0 5px;
    letter-spacing: 1px;
    border-radius: 5px;
}




@media (max-width: 900px){
    .contact-us .content .cc label{
        display: none;
    }
    .contact-us .contentS{
        display: none;
    }
    .contact-us .content{
        width: 100%;
    }
    .contact-us .content .cc input{
        width: 100%;
    }
    .contact-us .content .cc textarea{
        width: 100%;
    }
}
/***********Kanna'n Work*********/


.Our_Team {
  margin-bottom: 50px;
}

.container_box {
  padding-top: 50px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  align-content: flex-start;
}

.person_img {
  background-image: url(../img/person_01.jpeg);
  height: 200px;
  width: 200px;
  background-size: 200px;
  border-radius: 50%;
  margin: 0 auto;
}
.img_shadow{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  border-radius: 100%;
  transition-duration: .4s;
}
.img_shadow:hover{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  border-radius: 100%;
}
.para {
  text-align: center;
  font-weight: 600;
  width:100%;
  font-size: 15px;
  margin: 0 auto;
}

h5 {
  padding-top: 50px;
  font-size: 30px;
  width: 150px;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
  font-weight: 600;
}

.box {
  width:23%;

  margin: 10px;
  padding-bottom: 20px;
}

h1 {
  width: 150px;
  font-size: 50px;
  margin: 0 auto;
  font-family: 'Cairo', 'monospace';
}

.green {
  color: green;
  margin-right: 10px;
  height: 20px;
}

.icons {
  display: flex;
  justify-content: space-around;
height:50px;
margin: 10px;
}


.icon {
  font-size: 30px;
  transition-duration: .3s;
}

.icon:nth-child(1):hover{
color: red;
  font-size: 50px;;
}

@media screen and (max-width: 1100px) {
  * {
    padding: 0;
    margin: 0;
    background-color: #F1F1F1;
    font-family: cairo;
    color: #575757;
  }
  .container_box {
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .box {

padding-bottom: 50px;
    width: 300px;
    margin: 10px;
  }

  .para {
    text-align: center;
    font-weight: 600;
    width:100%;
    font-size: 15px;
    margin: 0 auto;
  }


}

@media screen and (max-width: 1100px) {
  * {
    padding: 0;
    margin: 0;
    background-color: #F1F1F1;
    font-family: cairo;
    color: #575757;
  }
  .container_box {
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    display: flex;
    flex-wrap: wrap;
  }
  .box {

padding-bottom: 50px;
    width: 300px;
    margin: 10px;
  }

  .para {
    text-align: center;
    font-weight: 600;
    width:100%;
    font-size: 15px;
    margin: 0 auto;
  }


}